<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.phonegap.Jhair"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>APP 2017</name>

  <description>
 Mi Aplicacion Movil
  </description>

  <author href="https://github.com/JhairxitoRD/MiAppMovil.git" email="Jhairrd@hotmail.com">
      JhairxitoRD
  </author>

</widget>

	